[submodule "vundle"]
	path = vundle
	url = https://github.com/gmarik/vundle.git
          ignore = dirty
[submodule "dev-bash-git-ps1"]
	path = dev-bash-git-ps1
	url = https://github.com/xtrementl/dev-bash-git-ps1.git
