[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
        url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "dev-bash-git-ps1"]
	path = dev-bash-git-ps1
	url = https://github.com/xtrementl/dev-bash-git-ps1.git
[submodule ".vim/bundle/VimClojure"]
	path = .vim/bundle/VimClojure
	url = https://github.com/vim-scripts/VimClojure.git
          ignore = dirty
[submodule ".vim/bundle/vim-haml"]
	path = .vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule ".vim/bundle/vim-coffe-script"]
	path = .vim/bundle/vim-coffe-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/html5"]
	path = .vim/bundle/html5
	url = https://github.com/othree/html5.vim
[submodule ".vim/bundle/vim-align"]
	path = .vim/bundle/vim-align
	url = https://github.com/tsaleh/vim-align
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/snipmate-snippets"]
	path = .vim/bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
